@tailwind base;
@tailwind components;
@tailwind utilities;

.index-text {
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.job-text {
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  color: black;
}
h1 {
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60vw;
}

.toast {
  padding: 20px 40px;
  border-radius: 12px;
  color: white;
  background-color: #5f7470;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 60vw;
  max-width: 60vw;
  min-width: 60vw;

  animation:
    fadeIn 0.5s ease-in-out,
    fadeOut 0.5s ease-in-out 3.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
